<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glacier.mybatis.mapper.UserMapper">

    <sql id="user_columns">
        a.id, a.username, a.password, a.salt, a.id_card, a.birthday, a.sex, a.status, a.email, a.mobile, a.dept_id
    </sql>

    <sql id="join_columns">
    </sql>

    <sql id="joins">
    </sql>

    <select id="findById" resultType="User">
        SELECT
        <include refid="user_columns"/>
        <include refid="join_columns"/>
        FROM sys_user a
        <include refid="joins"/>
        where a.id=#{id}
    </select>

    <select id="findList" resultType="User">
        SELECT
        <include refid="user_columns"/>
        <include refid="join_columns"/>
        FROM sys_user a
        <include refid="joins"/>
        <where>
            a.del_flag='0'
            <if test="sex != null and sex != '' ">
                and a.sex=#{sex}
            </if>
            <if test="status != null and status != '' ">
                and a.status=#{status}
            </if>
            <if test="idCard != null and idCard != '' ">
                and a.id_card=#{idCard}
            </if>
            <if test="username != null and username != '' ">
                and a.username=#{username}
            </if>
        </where>
    </select>

    <select id="loadUserByUsername" resultType="User">
        SELECT
        <include refid="user_columns"/>
        FROM sys_user a
        <where>
            a.del_flag='0'
            and a.username=#{username}
        </where>
    </select>

    <insert id="insert" parameterType="User">
        INSERT INTO sys_user
        (id, username, password, nickname, id_card, birthday, sex, status, salt, email, mobile, dept_id,
        create_by, create_date, del_flag)
        VALUES (#{id}, #{username}, #{password}, #{nickname}, #{idCard}, #{birthday}, #{sex}, #{status}, #{salt}, #{email}, #{mobile}, #{deptId},
        #{createBy}, #{createDate}, #{delFlag})
    </insert>

    <update id="update" parameterType="User">
        update sys_user
        set id_card = #{idCard},
            birthday = #{birthday},
            sex = #{sex},
            status = #{status},
            nickname = #{nickname},
            email = #{email},
            mobile = #{mobile},
            dept_id = #{deptId},
            update_by = #{updateBy},
            update_date = #{updateDate}
        where id = #{id}
    </update>
</mapper>