<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glacier.auth.mapper.RoleMapper">

    <select id="findRoleCodesByUser" resultType="String">
        select
        a.code
        from sys_role a
        inner join sys_user_role b on a.id=b.role_id
        <where>
            a.del_flag='0'
            and b.user_id = #{userId}
        </where>
    </select>
</mapper>